.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;

  border: 1.4386px solid $green;
  transition-duration: 0.3s !important;
  transition-delay: 0s !important;
  transition-timing-function: ease;
  & > * {
    transition-delay: 0s !important;
    transition-duration: 0.3s !important;
    transition-timing-function: ease;
  }
  svg {
    path {
      transition: 0.3s;
    }
  }

  &-green {
    color: #fff;
    background: $green;
    border-color: transparent;
    &:hover,
    &:active {
      color: $green !important;
      border-color: $green;
      * {
        color: $green !important;
      }
      svg {
        path {
          fill: $green;
        }
      }
    }
    &:focus {
      color: #fff;
      background: $green;
    }
  }

  &-outline {
    color: $green;
    background: transparent;
    &:hover,
    &:active,
    &:focus {
      color: #fff !important;
      background: $green;
      border: 1.4386px solid $green;
      * {
        color: #fff !important;
      }
      svg {
        path {
          fill: white;
        }
      }
    }
    // &:focus {
    //   color: $green;
    //   background: transparent;
    //   border: 1.4386px solid $green;
    // }
  }

  &-white {
    color: $green;
    background: #fff;
    &:active,
    &:hover {
      background: $green;
      color: white;
      svg {
        path {
          fill: white;
        }
      }
    }
  }

  .btn-icon {
    margin-right: 17.5px;
  }

  &-ssm {
    padding: 4px 10px;

    border-radius: 40px;
  }

  &-sm {
    padding: 12px 24px;

    border-radius: 30px;
  }

  &-lsm {
    padding: 22px 26.5px;

    border-radius: 40px;
  }

  &-md {
    padding: 18px 50px;

    border-radius: 40px;
  }

  &-smd {
    padding: 16px 60px;

    border-radius: 30px;
  }

  &-lmd {
    padding: 18px 85px;

    border-radius: 40px;
  }

  &-lg {
    padding: 19.5px 90px;

    border-radius: 40px;

    .btn-icon {
      margin-right: 12px;
    }
  }
}
