@import '../../../../styles/mixins/media';
@import '../../../../styles/vars';

.home__data {
  background: $white-g;
  padding: 105px 0px 70px;
  overflow: hidden;
  @include b('tablet') {
    padding: 30px 0px 40px;
  }
  &-subtitle {
    margin: 25px 0px 45px;
    max-width: 545px;
    @include b('tablet') {
      margin-bottom: 15px;
    }
  }
  &-text {
    max-width: 314px;
    min-width: 314px;
    line-height: 32px !important;
  }
  &-slider {
    margin-left: 105px;
    overflow: visible;
    width: 500px;
    @include b('tablet') {
      width: 100%;
      margin-left: 0;
    }
    &-nav {
      position: absolute;
      bottom: calc(100% + 24px);
      right: 0;
      @include b('tablet') {
        position: static;
        margin: 40px auto 20px;
      }
      &-prev {
        margin-top: 28px;
      }
      &-next {
        margin-bottom: 28px;
      }
      &-counter {
        margin: 0 10px;
      }
    }
  }
  &-slide {
    width: fit-content !important;
    @include b('tablet') {
      width: 100% !important;
    }
    &-img {
      border: 12px solid white;
      max-height: 500px;
      box-shadow: $green-sh;
      @include b('tablet') {
        width: fit-content;
        max-height: auto;
        margin: 0 auto;
      }
      img {
        max-height: calc(500px - 24px);
        @include b('tablet') {
          max-width: 100%;
          max-height: 235px;
        }
      }
    }
    &-content {
      margin-top: 40px;
      @include b('tablet') {
        margin-top: 25px;
      }
    }
    &-number {
      border: 1px solid $green;
      width: 56px;
      height: 56px;
      min-width: 56px;
      border-radius: 50%;
    }
    &-text {
      max-width: 295px;
      margin-left: 20px;
    }
  }
  &-content {
    position: relative;
    @include b('tablet') {
      flex-direction: column;
    }
  }
  .swiper-slide {
    opacity: 0;
    transition: 0.2s opacity;
    &-active,
    &-next {
      opacity: 1;
      transition: 0s opacity;
    }
  }
  .swiper-slide-next + .swiper-slide {
    opacity: 1;
    transition: 0s opacity;
  }
}
