@import '../../../../styles/mixins/media';
@import '../../../../styles/vars';

.home__roadmap {
  position: relative;

  padding: 75px 0 90px;

  overflow: hidden;

  background: $white-g;
  @include b('tablet') {
    padding: 40px 0;
  }

  &-title {
    margin: 0 auto 60px;

    text-align: center;
    @include b('tablet') {
      margin: 0 auto;
    }
  }

  &-slider {
    overflow: visible;

    &-nav {
      position: absolute;
      top: 74px;
      right: 60px;
      @include b('tablet') {
        position: static;

        margin: 20px auto 10px;

        width: fit-content;
      }
    }
  }

  &-slide {
    position: relative;

    width: 240px !important;
    @include b('tablet') {
      width: 218px !important;
    }

    &-arrow {
      position: absolute;
      top: 39px;
      right: 0;
    }

    &-line {
      margin: 6px 0 50px;
    }

    &-info {
      & + & {
        margin-top: 25px;
      }

      &-text {
        margin-left: 20px;

        white-space: nowrap;
        @include b('tablet') {
          white-space: normal;
        }
      }
    }
  }
}
