@import 'src/styles/mixins/media';

.staking {
  background-color: #f3f8f6;

  &-spacer {
    padding-top: 100px;

    background-color: #000;
  }
}

.staking_withdraw-info {
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 50px;
}

.procedure-two {
  padding-top: 150px;

  &:nth-child(2) {
    padding-bottom: 30px;
  }

  @include b('tablet') {
    padding-top: 100px;
  }
}

.custom {
  &-notify {
    &-text {
      margin-bottom: 2px;

      display: inline-block;
    }

    &-link {
      padding: 7px 10px;

      display: flex;

      font-size: 13px;
      text-transform: uppercase;

      color: #fff;
      background-color: #6ddac1be;
      border-radius: 15px;

      transition: 0.4s ease;

      img {
        margin-right: 5px;
      }

      &-wrap {
        margin-top: 5px;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .custom-notify-link {
          margin: 3px;
        }
      }

      &:hover {
        color: #fff;
        opacity: 0.9;
      }
    }
  }
}
