@import 'src/styles/mixins/media';

.admin-content {
  margin-top: 50px;

  @include b('tablet') {
    margin-top: 10px;
  }

  &-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 160px;
    grid-gap: 20px;

    align-items: center;

    @include b('tablet') {
      grid-template-columns: 1fr;

      padding: 10px 20px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;

    cursor: default;

    &-title {
      margin-bottom: 20px;

      font-size: 18px;
      font-weight: 500;

      color: #1a2121;

      @include b('tablet') {
        margin-bottom: 10px;

        font-size: 14px;
      }
    }

    .input {
      max-width: 100%;

      @include b('tablet') {
        padding: 20px;

        font-size: 14px;
      }
    }
  }

  .btn {
    margin-top: 35px;

    @include b('tablet') {
      margin-top: 15px;
    }
  }
}
