.admin-content {
  margin-top: 50px;

  &-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 160px;
    grid-gap: 20px;
    align-items: center;
  }

  &-item {
    display: flex;
    flex-direction: column;
    cursor: default;

    &-title {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 18px;
      color: #1a2121;
    }

    .input {
      max-width: 100%;
    }
  }

  .btn {
    margin-top: 35px;
  }
}
