@import '../../../../styles/mixins/media';
@import '../../../../styles/vars';

.home__news {
  padding: 120px 0;

  overflow: hidden;
  @include b('tablet') {
    padding: 40px 0 50px;
  }

  &-row {
    position: relative;
  }

  &-title {
    margin-bottom: 60px;

    display: block;

    text-align: center;
    @include b('tablet') {
      margin-bottom: 20px;
    }
  }

  &-slider {
    &-nav {
      position: absolute;
      z-index: 2;
      top: 0;
      right: -70px;
      @include b('tablet') {
        position: static;

        margin: 0 auto 30px;

        width: fit-content;
      }
    }
  }

  &-slide {
    cursor: default;

    &-img {
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 194px;
      }
    }

    &-title {
      margin-bottom: 15px;
    }

    &-text {
      opacity: 0.5;
    }

    &-link {
      margin-top: 10px;

      display: block;

      width: max-content;
    }

    &-date {
      margin: 30px 0 13px;

      width: 100%;

      span {
        margin-right: 15px;

        width: max-content;
      }

      &::after {
        content: '';

        display: block;

        height: 1px;

        background: $gray;
        flex-grow: 2;
      }
    }
  }
}
