$black: #1a2121;
$green: #6ddac0;
$gray: rgba($black, 0.3);
$gray-l: rgba(255, 255, 255, 0.5);
$white-g: #f3f8f6;
$white-d: rgba(243,248,246,0.3);
$green-sh: 0px 30px 40px rgba(109, 218, 192, 0.1);

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
