@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  padding-top: 20px;

  width: 100%;
  @include b('tablet') {
    padding: 20px 10px;

    transition: 0.3s;
  }

  &.open {
    @include b('tablet') {
      padding: 20px 10px 0;

      height: 100vh;

      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__account {
    &-logo {
      margin-right: 10px;
    }

    &-arrow {
      margin-left: 10px;
    }
  }

  &__menu {
    overflow: hidden;

    max-height: 0;

    border-top: 1px solid transparent;

    transition: 0.3s;

    &.open {
      padding: 25px 20px 40px;

      max-height: 385px;

      border-color: #e8e9e9;
    }

    &-btn {
      width: 100%;
    }

    &-nav {
      &-item {
        margin: 40px auto 0;

        display: block;

        width: fit-content;

        &.active {
          color: $green;
        }
      }
    }
  }

  &__logo {
    display: block;

    img {
      width: 100%;
    }
    @include b('tablet') {
      margin: 0 auto;

      width: 81px;
    }
  }

  &__row {
    position: relative;

    margin: 0 auto;
  }

  &__wallets {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    padding: 99px 27px 27px;

    visibility: hidden;

    background: #fff;
    border: 1px solid rgba(109, 218, 192, 0.12);
    border-radius: 50px;
    opacity: 0;
    box-shadow: 0 2px 30px rgba(109, 218, 192, 0.15);

    transition: 0.4s;
    @include b('tablet') {
      position: static;

      padding: 0;

      visibility: visible;
      overflow: hidden;

      max-height: 0;

      background: transparent;
      border: none;
      border-top: 1px solid transparent;
      border-radius: 0;
      opacity: 1;
      box-shadow: none;

      transition: 0.3s;
    }

    &.open {
      z-index: 1;

      visibility: visible;

      border-color: #e8e9e9;
      opacity: 1;
      @include b('tablet') {
        padding: 30px 20px;

        max-height: 231px;

        transition-delay: 0.4s;
      }
    }

    &-item {
      padding: 20px 35px 20px 25px;

      min-width: 227px;

      cursor: pointer;

      background: #fff;
      border: 1px solid $green;
      border-radius: 50px;
      box-shadow: 0 2px 30px rgba(109, 218, 192, 0.15);

      span {
        margin-left: 18px;
      }

      & + & {
        margin-top: 15px;
      }
    }

    &-close {
      margin: 3.6px;
      margin-right: 0;

      width: 38px;
      height: 38px;

      cursor: pointer;

      background: #f3f8f6;
      border-radius: 50%;
    }
  }

  &__wrapper {
    @include b('tablet') {
      position: relative;

      margin: 0 auto;
      padding: 22px 20px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    padding: 18px 18px 18px 34px;

    background: #fff;
    border: 1px solid rgba(109, 218, 192, 0.12);
    border-radius: 50px;
    box-shadow: 0 2px 30px rgba(109, 218, 192, 0.15);
    @include b('tablet') {
      padding: 0;
    }
  }

  &__nav {
    // margin-left: 250px;
    margin-left: 190px;

    &-open {
      position: absolute;
      top: 50%;
      left: 22px;

      transform: translateY(-50%);
    }

    &-item {
      position: relative;

      &-img {
        position: absolute;
        top: calc(100% + 12px);
        left: 50%;

        opacity: 0;

        transition: 0.3s;
        transform: translate(-50%, 10px);
      }

      & + & {
        margin-left: 50px;
      }

      &.active {
        color: $green;
      }

      &.active &-img {
        opacity: 1;

        transform: translate(-50%, 0);
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
  }

  .language {
    &-wrap {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100px;

      @include b(1025) {
        position: absolute;
        top: 12px;
        right: 10px;
      }
    }

    &-select {
      position: absolute;
      z-index: 2;
      top: -20px;

      @include b(1025) {
        top: 0;
      }

      &-list {
        position: relative;

        margin: 0;
        padding: 5px;

        display: block;

        list-style-type: none;

        color: #fff;
        background-color: #6ddac0;
        border: none;
        border-radius: 20px;

        &::after {
          content: '';

          position: absolute;
          top: 14px;
          right: 15px;

          display: block;

          width: 8px;
          height: 8px;

          cursor: pointer;

          border-width: 2px 2px 0 0;
          border-style: solid;
          border-color: #fff;

          transition: 0.2s ease;
          transform: rotate(135deg);
        }

        // &:not(.opened) {
        //   &:hover {
        //     background-color: #e3e9ee;
        //   }
        // }
        li {
          margin: 0;
          padding: 5px 10px 5px 10px;

          display: none;

          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          text-align: right;

          color: #fff;

          @include b(1000) {
            font-size: 14px;
          }

          &:hover {
            color: #40a9ff;

            transition: 0.4s ease;
          }

          span {
            cursor: pointer;
          }

          // &:after {
          //   content: '';
          //   display: block;
          //   clear: both;
          // }
          &.active {
            padding-right: 30px;

            display: block;

            color: #fff;
          }
        }

        &.opened {
          background-color: #fff;
          border: 1px solid #6ddac0;

          &::after {
            top: 16px;

            border-color: #6ddac0;

            transform: rotate(-45deg);
          }

          li {
            display: block;

            color: #6ddac0;

            transition: 0.4s ease;

            &.active {
              color: #fff;

              &:hover {
                color: #fff !important;
              }
            }

            &:hover {
              cursor: pointer;

              color: #40a9ff;

              transition: 0.4s ease;
            }

            + li {
              // border-top: 1px solid #ddd;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
