@import '../../../styles/vars';
@import '../../../styles/mixins/media';

.info {
  position: relative;

  padding-bottom: 10px;

  width: 100%;

  border-bottom: 3px solid $green;

  &__text {
    position: absolute;
    left: 0;
    bottom: 100%;

    font-weight: 600;

    &-bottom {
      top: calc(100% + 10px);
      @include b('tablet') {
        position: static;
      }
    }
  }
}
