@import '../../../styles/vars';
@import '../../../styles/mixins/media';

.info {
  padding-bottom: 10px;
  border-bottom: 3px solid $green;
  position: relative;
  width: 100%;
  &__text {
    position: absolute;
    bottom: 100%;
    font-weight: 600;
    left: 0;
    &-bottom {
      top: calc(100% + 10px);
      @include b('tablet') {
        position: relative;
      }
    }
  }
}
