@import 'src/styles/mixins/media';

.footer {
  padding: 55px 0 20px;

  background: $white-g;
  background-image: url(../../../assets/img/sections/footer/footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  @include b('tablet') {
    padding-top: 50px;

    background-image: url(../../../assets/img/sections/footer/footer-m.svg);
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1105px;
    @include b('tablet') {
      padding: 0;

      background-image: url(../../../assets/img/sections/footer/footer-m.svg);
    }
  }

  &__navigation {
    display: flex;

    &-container {
      margin-top: 49px;
      margin-bottom: 42px;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 45px;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    width: 100%;

    &-list {
      padding: 0 45px;

      display: flex;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;

    background-color: $black;
  }

  &__divider {
    width: 100%;
    max-width: 400px;
    height: 1px;

    background-color: $green;
  }

  &__copyrights {
    margin-top: 30px;

    font-size: 14px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.5);
  }
}
