@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.calculator {
  padding: 100px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  line-height: 1.4;
  text-align: center;

  color: #fff;
  background-color: #1a2121;

  background-image: url(../../../assets/img/sections/stats/calc.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 104.7% auto;

  @include b('tablet') {
    background-image: unset;
  }

  &-title {
    margin-bottom: 20px;

    font-size: 60px;

    @include b('tablet') {
      font-size: 30px;
    }

    &-input {
      margin-bottom: 10px;

      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &-info {
    margin: 0 auto;
    margin-top: 50px;

    display: flex;

    &-item {
      margin-right: 15px;
      padding: 10px 15px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;

      min-width: 180px;
      max-width: max-content;

      text-transform: uppercase;

      border: 1px solid #6ddac0;

      border-radius: 10px;

      &:last-child {
        margin-top: 0;
      }

      &-block {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-title {
        margin-bottom: 5px;

        width: 130px;

        text-align: center;
      }

      &-title,
      &-text {
        font-size: 14px;

        opacity: 0.7;
      }

      &-value {
        margin-right: 5px;

        font-size: 22px;

        color: #6ddac0;
      }
    }
  }
}
