@import 'src/styles/vars';
@import 'src/styles/mixins/media';

.about-contacts {
  padding: 120px 0 84px;

  background: $white-g;
  background-image: url(../../../../assets/img/sections/about/contacts.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  @include b('tablet') {
    padding: 30px 0 40px;

    background-image: unset;
  }

  &__countries {
    display: flex;
    @include b('tablet') {
      flex-direction: column;
    }
  }

  &__links {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 36px;
      height: 36px;

      background-color: $black;
      border: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__country {
    margin-top: 70px;

    width: 100%;
    max-width: 450px;

    @include b('tablet') {
      margin-top: 40px;
    }

    &:first-child {
      margin-right: 60px;
    }

    &-name {
      padding-bottom: 20px;

      letter-spacing: -0.05em;

      border-bottom: 3px solid $green;
    }
  }

  &__support-btn {
    margin-top: 60px;
    padding: 22px 41px !important;

    .btn-icon {
      margin-right: 14px !important;
    }
    @include b('tablet') {
      margin-top: 40px;
      font-size: 16px !important;
    }
  }
}

.country-description {
  margin-top: 20px;

  &__item {
    font-size: 22px;
    line-height: 42px;
  }
}
