.home__preview {
  padding: 190px 0px 140px;
  background: #f3f8f6;
  background-image: url(../../../../assets/img/sections/home/preview.svg);
  background-size: 103.5% auto;
  background-repeat: no-repeat;
  &-title {
    max-width: 483px;
  }
  &-subtitle {
    margin: 27px 0 57px;
    max-width: 640px;
  }
  &-btn {
    & + & {
      margin-left: 10px;
    }
  }
  &-info {
    margin-top: 128px;
    &-item {
      max-width: 250px;
      & + & {
        margin-left: 90px;
      }
    }
  }
}
