@import '../../../../styles/mixins/media';
@import '../../../../styles/vars';

.home__preview {
  padding: 190px 0 140px;

  background: $white-g;
  background-image: url(../../../../assets/img/sections/home/preview.svg);
  background-repeat: no-repeat;
  background-size: 103.5% auto;
  @include b('tablet') {
    padding: 100px 0 30px;

    background-image: url(../../../../assets/img/sections/home/preview-m.svg);
  }

  &-title {
    max-width: 490px;
  }

  &-subtitle {
    margin: 27px 0 57px;

    max-width: 640px;
    @include b('tablet') {
      margin: 20px 0 30px;
    }
  }

  &-btn {
    @include b('tablet') {
      width: 100%;
    }

    & + & {
      margin-left: 10px;
      @include b('tablet') {
        margin: 20px 0 0;
      }
    }
  }

  &-info {
    margin-top: 128px;
    @include b('tablet') {
      margin-top: 50px;

      flex-direction: column;
    }

    &-item {
      max-width: 250px;
      @include b('tablet') {
        max-width: 100%;
      }

      & + & {
        margin-left: 90px;
        @include b('tablet') {
          margin: 60px 0 0;
        }
      }
    }
  }

  &-box {
    @include b('tablet') {
      flex-direction: column;
    }
  }
}
