@import '../../../../styles/mixins/media';
@import '../../../../styles/vars';

.StakingBlock {
  background-image: url(../../../../assets/img/procedure-b.svg);
  background-position: 108% center;
  background-size: 106% auto;
  padding: 90px 0 0;

  @include b('tablet') {
    padding: 50px 0 0;
  }

  &-title {
    margin-bottom: 32px;
  }

  &-text {
    max-width: 694px;

    p {
      margin-bottom: 30px;
      @include b('tablet') {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 15px;
      }
      @include b('mobile') {
        font-size: 16px;
        line-height: 26px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
