@import 'src/styles/mixins/media';

.home-partners {
  padding: 150px 0;
  @include b('tablet') {
    padding: 40px 0 60px;
  }

  &__container {
    margin-top: 72px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 15%);
    justify-content: space-around;
    gap: 20px;

    @include b('tablet') {
      grid-template-columns: repeat(2, 25%);
    }
  }

  &__partner {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}
